<h1>Make your form here</h1>

<h1> Arragghh Ye old sea dogs </h1>
<form action='/pirates' method='post'>
  <div>
  <label for="pirate_name">Pirate Name</label>
  <input type='text' id='pirate_name' name='pirate[name]'>
</div>
<div>
  <label for="pirate_weight">Pirate Height</label>
  <input type='text' id='pirate_weight' name='pirate[weight]'>
</div>
<div>
  <label for="pirate_height">Pirate Weight</label>
  <input type='text' id='pirate_height' name='pirate[height]'>
</div>
  <h1> Ye old floaty </h1>
  <div>
  <label for='ship_name'>Ship Name</label>
  <input type="text" id='ship_name_1' name='pirate[ships][][name]'>
</div>
<div>
  <label for='ship_type'>Ship Type</label>
  <input type="text" id='ship_type_1' name='pirate[ships][][type]'>
</div>
<div>
  <label for='ship_booty'>Ship Booty</label>
  <input type="text" id='ship_booty_1' name='pirate[ships][][booty]'>
</div>
<div>
<label for='ship_name'>Ship Name</label>
<input type="text" id='ship_name_2' name='pirate[ships][][name]'>
</div>
<div>
<label for='ship_type'>Ship Type</label>
<input type="text" id='ship_type_2' name='pirate[ships][][type]'>
</div>
<div>
<label for='ship_booty'>Ship Booty</label>
<input type="text" id='ship_booty_2' name='pirate[ships][][booty]'>
</div>
<input type='submit' value='Submit'>
</form>






</form>
